.primary-bg{
    background-color: #2f6dd7;
}
.secondary-bg{
    background-color: #db3529;
}
.on-primary{
    color: #FFF;
    
}
.on-secondary{
    color: #FFF;
}
.tetiary-bg{
    background-color: #84BF9E;
}
.on-tetiary-bg{
    color: #444444;
}
.primary-text{
    color: #2f6dd7;
}
.secondary-text{
    color: #db3529;
}
.tetiary-text{
    color: #84BF9E;
}
.muted-text{
    color: #000000e3;
}
.muted-bg{
    background-color: #F2F2F2;
}
.on-muted{
    color: #444444;
}
.error-text{
    color: #ff9800;
}