.fancy-text{
    font-family: 'Kurale', serif;
  }
.body-font{
    font-family: 'Roboto', serif;
    letter-spacing: .4px;
}
.button-font-size{
    font-size: 15px;
}
h1{
    font-size: 1.5rem !important;
}